@model Agendamento
@{
    ViewData["Title"]="Confimação";
}
<div id="confirmação-content">
    <div id="confirmação-dados">
        <h1>Agendamento Realizado com sucesso</h1>
        <h3>Seus Dados</h3>
        <ul>
            <li>Nome: @Dados.Agendado.Nome</li>
            <li>Telefone: @Dados.Agendado.Fone</li>
            <li>Data: @Dados.Agendado.Data</li>
            <li>Animal: @Dados.Agendado.Animal</li>
            <li>Nescessidade: @Dados.Agendado.Necessidade</li>
        </ul>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>